@font-face {
    font-family: 'hattori_hanzolight';
    src: url('file:///Users/billz/preworkassignments/Personal-website/fonts/Hattori_Hanzo-webfont.eot');
    src: url('file:///Users/billz/preworkassignments/Personal-website/fonts/Hattori_Hanzo-webfont.eot?#iefix') format('embedded-opentype'),
         url('file:///Users/billz/preworkassignments/Personal-website/fonts/Hattori_Hanzo-webfont.woff2') format('woff2'),
         url('file:///Users/billz/preworkassignments/Personal-website/fonts/Hattori_Hanzo-webfont.woff') format('woff'),
         url('file:///Users/billz/preworkassignments/Personal-website/fonts/Hattori_Hanzo-webfont.ttf') format('truetype'),
         url('file:///Users/billz/preworkassignments/Personal-website/fonts/Hattori_Hanzo-webfont.svg#hattori_hanzolight') format('svg');
    font-weight: normal;
    font-style: normal;

}

html, body{
    font-family: 'hattori_hanzolight';
    margin:0;
    padding:0;
    background-color: bisque;

}

#wrap{
    width: 800px;
    min-height: 100%;
    margin:auto;
    padding:auto;
    color: black;
}

.name{
    font-family: 'hattori_hanzolight';
    position: relative;
    float: right;
    top: 100px;
    right: 110px;
    font-size: xx-large;
    letter-spacing: 10px;
}

.menu ul,li{
    position: relative;
    z-index: 10;
    float:left;
    top: 170px;
    left: 350px;
    list-style-position: inside;
    list-style-type: none;
    display: inline;
    margin:10px;
    color:#fff;
}

.menu a{
    text-decoration: none;
    color: black;
}

.content img{
    display: block;
    margin-left: 50px;
}

.updates{
    align-self: center;
    text-align: center;
}

footer{
    position: absolute;
    bottom: 0;
    width: 100%;

}